body {

    font-family: Arial;

    background: #f4f4f4;

    padding: 30px;

}

.container {

    max-width: 500px;

    margin: auto;

}

form {

    display: flex;

    gap: 10px;

}

input {

    flex: 1;

    padding: 10px;

}

button {

    padding: 10px;

    cursor: pointer;

}

.todo {

    background: white;

    margin-top: 15px;

    padding: 15px;

    border-radius: 10px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.completed {

    text-decoration: line-through;

    opacity: 0.6;

}